body {
    background: linear-gradient(180deg, #e0f7fa, #ffffff);
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #00695c;
    border-bottom: 2px solid #00796b;
    padding-bottom: 5px;
}


img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.bloque-multimedia {
    background-color: rgba(255,255,255, 0.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-left: 5px solid #00796b;
}


video {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-top: 10px;
    background: black;
}

audio {
    width: 100%;
    margin-top: 10px;
}


.boton {
    background-color: #00796b;
    color: white;
    padding: 12px 25px;
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.boton:hover {
    background-color: #004d40;
}

@media (max-width: 600px) {
    header nav ul li {display: block; margin: 10px 0;}
    header { padding: 15px;}
    h1 { font-size: 1.6rem;}
    h2 { font-size: 1.4rem;}
    main {padding: 10px;margin: 10px; }
    p {font-size: 16px;}
    .boton { width: 100%; text-align: center; box-sizing: border-box;}
}

@media (min-width: 601px) and (max-width: 900px) {
    header nav ul li {margin: 0 10px;}
    main {max-width: 700px;}
    p {font-size: 17px;}
}

@media (min-width: 1200px) {
    main {max-width: 1100px;}
    p {font-size: 18px;}
}